<a href="https://colab.research.google.com/github/dh839/AI_ML-Program/blob/main/DAY_2_DATA_STRUCTURES_FUNCTIONS_SETS%26DICTIONARY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Creating different types of list

int_list=[30,40,50,60]
print("Integer list",int_list)
float_list=[25.5,35.5,40.0]
print("Float List",float_list)
chr_list=["a","b","c","d"]
print("Character list",chr_list)
str_list=["apple","banana","orange","mango"]
print("String list",str_list)

print("----------------------------------------------")

print("Integer Slice",int_list[0:3])#OUTPUT: 30,40,50
print("Float Slice",float_list[0:2])#OUTPUT: 25.5,35.5
print("Character Slice",chr_list[0:2])#OUTPUT: a,b
print("String Slice",str_list[0:1])#OUTPUT: apple

print("----------------------------------------------")

print("Negative Integer Slicing",int_list[0:-1])#OUTPUT: 30,40,50
print("Negative Integer Slice with Single Bond",int_list[-2])#OUTPUT: 50
print("Negative Float Slicing",float_list[0:-2])#OUTPUT: 25.5
print("Negative Character Slicing",chr_list[0:-2])#OUTPUT: a,b
print("Negative String Slicing",str_list[0:-1])#OUTPUT: apple,banana,orange

print("----------------------------------------------")

mix_list=[25,36.5,"a","one",34,57.6,"b","four",23,88.6]
print("Mix List",mix_list)
print("Mix List",mix_list[0:-4])#OUTPUT: 25,36.5,"a","one",34
print("Mix List",mix_list[2:-1])#OUTPUT: 36.5,"a","one",34,57.6,"b","four",23
print("Mix List",mix_list[-1:-3])#OUTPUT:invalid

Integer list [30, 40, 50, 60]
Float List [25.5, 35.5, 40.0]
Character list ['a', 'b', 'c', 'd']
String list ['apple', 'banana', 'orange', 'mango']
----------------------------------------------
Integer Slice [30, 40, 50]
Float Slice [25.5, 35.5]
Character Slice ['a', 'b']
String Slice ['apple']
----------------------------------------------
Negative Integer Slicing [30, 40, 50]
Negative Integer Slice with Single Bond 50
Negative Float Slicing [25.5]
Negative Character Slicing ['a', 'b']
Negative String Slicing ['apple', 'banana', 'orange']
----------------------------------------------
Mix List [25, 36.5, 'a', 'one', 34, 57.6, 'b', 'four', 23, 88.6]
Mix List [25, 36.5, 'a', 'one', 34, 57.6]
Mix List ['a', 'one', 34, 57.6, 'b', 'four', 23]
Mix List []

In [ ]:
#Printing the List Data Types

print("Integer List Type",type(int_list))
print("Float List Type",type(float_list))
print("Character List Type",type(chr_list))
print("String List Type",type(str_list))
print("Mix List Type",type(mix_list))

Integer List Type <class 'list'>
Float List Type <class 'list'>
Character List Type <class 'list'>
String List Type <class 'list'>
Mix List Type <class 'list'>

In [ ]:
# List Functions
int_list.append(70)
print("Integer List (after Appending the Value at the Last)",int_list)

print("----------------------------------------------")

int_list.extend([80,90,100])
print("Integer List after (Extending the Value at the Last)",int_list)

print("----------------------------------------------")

int_list.insert(3,55)
print("Integer List after (Inserting the Value at a specific position)",int_list)

print("----------------------------------------------")

int_list.remove(70)
print("Integer List after (Removing the specific Value)",int_list)

print("----------------------------------------------")

str_list=["apple","banana","orange","mango"]
print("String List before (Removing the Value at the last using Pop)",str_list)
str_list.pop()
print("String List after (Removing the Value at the last using Pop)",str_list)

print("----------------------------------------------")

chr_list=["a","b","c","d"]
print("Character List before (Removing the Value at the last using Pop)",chr_list)
chr_list.pop()
print("Charcter List after (Removing the Value at the last using Pop)",chr_list)

print("----------------------------------------------")

count=float_list.count(40.0)
print("Float List after (Counting)",count)

print("----------------------------------------------")

int_list.sort()
print("Integer list after (Sorting)",int_list)

print("----------------------------------------------")

d_int_list=int_list
print("Dummy Integer List",d_int_list)
d_int_list.clear()
print("Dummy Integer List (after Clearing)",d_int_list)

print("-----------------------------------------------")

print("String List",str_list)
joined1 = "$".join(str_list)
print("Joined String List",joined1)

print("----------------------------------------------")

print("String Concatination",str_list*2)
print("Adding both the list",int_list+float_list)

Integer List (after Appending the Value at the Last) [70]
----------------------------------------------
Integer List after (Extending the Value at the Last) [70, 80, 90, 100]
----------------------------------------------
Integer List after (Inserting the Value at a specific position) [70, 80, 90, 55, 100]
----------------------------------------------
Integer List after (Removing the specific Value) [80, 90, 55, 100]
----------------------------------------------
String List before (Removing the Value at the last using Pop) ['apple', 'banana', 'orange', 'mango']
String List after (Removing the Value at the last using Pop) ['apple', 'banana', 'orange']
----------------------------------------------
Character List before (Removing the Value at the last using Pop) ['a', 'b', 'c', 'd']
Charcter List after (Removing the Value at the last using Pop) ['a', 'b', 'c']
----------------------------------------------
Float List after (Counting) 1
----------------------------------------------
Integer list after (Sorting) [55, 80, 90, 100]
----------------------------------------------
Dummy Integer List [55, 80, 90, 100]
Dummy Integer List (after Clearing) []
-----------------------------------------------
String List ['apple', 'banana', 'orange']
Joined String List apple$banana$orange
----------------------------------------------
String Concatination ['apple', 'banana', 'orange', 'apple', 'banana', 'orange']
Adding both the list [25.5, 35.5, 40.0]

In [ ]:
#Tuples
int_tuple=(5,6,9,7,7)
print("Integer tuple",int_tuple)
print("Integer tuple after slicing",int_tuple[0:3])

print("-----------------------------")

float_tuple=(5.5,8.5,8.9)
print("Float tuple",float_tuple)
print("Float tuple after slicing",float_tuple[0:-1])

print("-----------------------------")

chr_tuple=("a","b","c","d")
print("Charcter tuple",chr_tuple)
print("Charcter tuple after slicing",chr_tuple[0:2])

print("-----------------------------")

str_tuple=("one","two","three")
print("String tuple",str_tuple)
print("String tuple after slicing",str_tuple[0:1])

Integer tuple (5, 6, 9, 7, 7)
Integer tuple after slicing (5, 6, 9)
-----------------------------
Float tuple (5.5, 8.5, 8.9)
Float tuple after slicing (5.5, 8.5)
-----------------------------
Charcter tuple ('a', 'b', 'c', 'd')
Charcter tuple after slicing ('a', 'b')
-----------------------------
String tuple ('one', 'two', 'three')
String tuple after slicing ('one',)

In [ ]:
#Tuple Functions
t1=(20,30,30,60,20,40)
print("Length of t1 :", len(t1))
print("Count of 20 in t1:", t1.count(20))
print("Index of 30 in t1:", t1.index(30))

Length of t1 : 6
Count of 20 in t1: 2
Index of 30 in t1: 1

In [129]:
#Set Operations
set_1={1,2,3,4,5,5}
set_2={2,5,6,3}
set_3={"a","five","eight"}
set_4={2.5,2.6,56.0}
set_5={"b","seven","five"}
print("Set 1: ",set_1)
print("Set 2: ",set_2)
print("Set 3: ",set_3)
print("Set 4: ",set_4)
print("Set 5: ",set_5)

print("-------------------------")

#type
print("Set 1: ",type(set_1))

print("-------------------------")

#union
print("Union with keyword",set_1.union(set_2))
print("UNION:",set_1|set_2)
print("UNION:",set_3|set_5)

print("-------------------------")

#intersection
print("Intersection with keyword",set_1.intersection(set_2))
print("INTERSECTION:",set_1&set_2)
print("INTERSECTION:",set_3&set_5)

print("-------------------------")

#difference
print("Difference with keyword",set_1.difference(set_2))
print("DIFFERNCE:",set_1-set_2)
print("DIFFERENCE:",set_3-set_5)

print("-------------------------")

#in-function
print("In with keyword",1 in(set_2))
print("IN:",1 in set_2)
print("IN:",'c' in set_5)

print("-------------------------")

#add
set_3.add("c")
print("ADD:",set_3)

print("-------------------------")

#remove
set_3.remove("a")
print("REMOVE:",set_3)

print("-------------------------")

#length
print("Length:",len(set_1))

print("-------------------------")

#pop
remove=set_1.pop()
print("POP",set_1)

print("-------------------------")

#update
set_1_1={1,2,3,4,5,5}
set_2_1={2,5,6,3}
set_1_1.update(set_2_1)
print("set_1_1:",set_1_1)
print("set_2_1:",set_2_1)

Set 1:  {1, 2, 3, 4, 5}
Set 2:  {2, 3, 5, 6}
Set 3:  {'five', 'a', 'eight'}
Set 4:  {56.0, 2.5, 2.6}
Set 5:  {'seven', 'b', 'five'}
-------------------------
Set 1:  <class 'set'>
-------------------------
Union with keyword {1, 2, 3, 4, 5, 6}
UNION: {1, 2, 3, 4, 5, 6}
UNION: {'five', 'seven', 'a', 'b', 'eight'}
-------------------------
Intersection with keyword {2, 3, 5}
INTERSECTION: {2, 3, 5}
INTERSECTION: {'five'}
-------------------------
Difference with keyword {1, 4}
DIFFERNCE: {1, 4}
DIFFERENCE: {'a', 'eight'}
-------------------------
In with keyword False
IN: False
IN: False
-------------------------
ADD: {'c', 'five', 'a', 'eight'}
-------------------------
REMOVE: {'c', 'five', 'eight'}
-------------------------
Length: 5
-------------------------
POP {2, 3, 4, 5}
-------------------------
set_1_1: {1, 2, 3, 4, 5, 6}
set_2_1: {2, 3, 5, 6}

In [131]:
#Dictionary
d_1={"name":"Dharani","age":15,"email":"xyz@gmail.com"}
print(d_1)

#accessing elements
print(d_1["name"])

#add
d_1["gender"]="female"
print(d_1)

#update
d_1["age"]=16
print(d_1)

#merging dictionaries
d_2={"place":"Hyderabad"}
d_1.update(d_2)
print(d_1)

#remove
d_1.pop("gender")
print(d_1)

#check
print("name"in d_2)

#print the index
print(d_1.keys())

#print the values
print(d_1.values())

#copying a dictionary from one to another
d_1_new=d_1.copy()
print(d_1_new)

#clear
d_1_new.clear()
print(d_1_new)

{'name': 'Dharani', 'age': 15, 'email': 'xyz@gmail.com'}
Dharani
{'name': 'Dharani', 'age': 15, 'email': 'xyz@gmail.com', 'gender': 'female'}
{'name': 'Dharani', 'age': 16, 'email': 'xyz@gmail.com', 'gender': 'female'}
{'name': 'Dharani', 'age': 16, 'email': 'xyz@gmail.com', 'gender': 'female', 'place': 'Hyderabad'}
{'name': 'Dharani', 'age': 16, 'email': 'xyz@gmail.com', 'place': 'Hyderabad'}
False
dict_keys(['name', 'age', 'email', 'place'])
dict_values(['Dharani', 16, 'xyz@gmail.com', 'Hyderabad'])
{'name': 'Dharani', 'age': 16, 'email': 'xyz@gmail.com', 'place': 'Hyderabad'}
{}