<a href="https://colab.research.google.com/github/dh839/AI_ML-Program/blob/main/DAY_1_AI_BOOT_CAMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [2]:
# adding of two numbers
a=2
b=4
c=a+b
print("c",c)

c 6

In [3]:
# Arithmetic Operators
a=5
b=7
print("a+b = ",a+b)
print("b-a = ",b-a)
print("a*b = ",a*b)
print("a/b = ",a/b)
print("a%b = ",a%b)

a+b =  12
b-a =  2
a*b =  35
a/b =  0.7142857142857143
a%b =  5

In [7]:
# Comparision Operators
a=8
b=8
print("a>b",a>b)
print("a>=b",a>=b)
print("a<b",a<b)
print("a<=b",a<=b)
print("a==b",a==b)
print("a!=b",a!=b)

a>b False
a>=b True
a<b False
a<=b True
a==b True
a!=b False

In [16]:
# Logical Operators: and, or, not
a=0
b=20
c=30
print("a,b and c =", a and b and c)
print("a,b or c =", a or b or c)
print("not a =", not a)

a,b and c = 0
a,b or c = 20
not a = True

In [18]:
# Increment and Decrement Operator
a=10
print("Before incrementation the value of a = ",a)
a=a+1
print("After incrementation the value of a = ",a)
a=a-1
print("After decrementation the value of a = ",a)

Before incrementation the value of a =  10
After incrementation the value of a =  11
After decrementation the value of a =  10

In [25]:
# Different Data Types
a=10
b=10.5
c='h'
d="hello"
e=True
f=False
print("Value of a = ",a)
print("Value of b = ",b)
print("Value of c = ",c)
print("Value of d = ",d)
print("Value of e = ",e)
print("Value of f = ",f)
print("Type of a:",type(a))
print("Type of b:",type(b))
print("Type of c:",type(c))
print("Type of d:",type(d))
print("Type of e:",type(e))
print("Type of f:",type(f))

Value of a =  10
Value of b =  10.5
Value of c =  h
Value of d =  hello
Value of e =  True
Value of f =  False
Type of a: <class 'int'>
Type of b: <class 'float'>
Type of c: <class 'str'>
Type of d: <class 'str'>
Type of e: <class 'bool'>
Type of f: <class 'bool'>

In [24]:
# User Input Program
a=input("Enter the value of a: ")
print("The value of a",a)
print("Type of a:",type(a))
b=int(input("Enter the value of b: "))
print("The value of b",b)
print("Type of b:",type(b))

Enter the value of a: 10
The value of a 10
Type of a: <class 'str'>
Enter the value of b: 10
The value of b 10
Type of b: <class 'int'>

In [29]:
# Calculating the sum and average of a student
math=int(input("Enter the marks scored in Mathematics = "))
phy=int(input("Enter the marks scored in Physics = "))
chem=int(input("Enter the marks scored in Chemistry = "))
sum=math+phy+chem
avg=sum/3
print("The sum of total marks = ",sum)
print("The average of total marks = ",avg)

Enter the marks scored in Mathematics = 80
Enter the marks scored in Physics = 79
Enter the marks scored in Chemistry = 73
The sum of total marks =  232
The average of total marks =  77.33333333333333

In [31]:
# Type Conversion
a=10
print("Before conversion the value of a = ",a)
print("Type of a (before conversion):",type(a))
a=float(10)
print("After conversion the value of a = ",a)
print("Type of a (after conversion):",type(a))
b=10.5
print("Before conversion the value of b = ",b)
print("Type of b (before conversion):",type(b))
b=int(10.5)
print("After conversion the value of b = ",b)
print("Type of b (after conversion):",type(b))

Before conversion the value of a =  10
Type of a (before conversion): <class 'int'>
After conversion the value of a =  10.0
Type of a (after conversion): <class 'float'>
Before conversion the value of b =  10.5
Type of b (before conversion): <class 'float'>
After conversion the value of b =  10
Type of b (after conversion): <class 'int'>

In [32]:
# Loops
a=34
b=36
if a>b:
  print("a is greater than b")
else:
  print("b is greater the a")

b is greater the a

In [35]:
# Biggest of three number using Logical Operator
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=int(input("Enter the value of c: "))
if a>b and a>c:
  print("a is greatest: ",a)
if b>a and b>c:
   print("b is greatest: ",b)
if c>a and c>b:
   print("c is greatest: ",c)

Enter the value of a: 76
Enter the value of b: 79
Enter the value of c: 83
c is greatest:  83

In [42]:
# Biggest of three numbers using Nested if-else
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=int(input("Enter the value of c: "))
if a>b:
  if a>c:
    print("a is greatest: ",a)
  else:
    print("c is greatest: ",c)
else:
  if b>c:
    print("b is greatest: ",b)
  else:
    print("c is greatest: ",c)

Enter the value of a: 10
Enter the value of b: 20
Enter the value of c: 20
c is greatest:  20

In [45]:
# Biggest of three numbers using elif statement
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=int(input("Enter the value of c: "))
if a>b:
  if a>c:
    print("a is greatest: ",a)
  else:
    print("c is greatest: ",c)
elif b>c:
    print("b is greatest: ",b)
else:
    print("c is greatest: ",c)

Enter the value of a: 10
Enter the value of b: 12
Enter the value of c: 13
c is greatest:  13

In [3]:
# While loop for printing numbers from 1 to n
i=1
n=int(input("Enter the value of n: "))
while i<=n:
   print("The value of i: ",i)
   i=i+1

Enter the value of n: 11
The value of i:  1
The value of i:  2
The value of i:  3
The value of i:  4
The value of i:  5
The value of i:  6
The value of i:  7
The value of i:  8
The value of i:  9
The value of i:  10
The value of i:  11

In [4]:
# While loop for printing numbers from 1 to n(even numbers)
i=2
n=int(input("Enter the value of n: "))
while i<=n:
   print("The value of i: ",i)
   i=i+2

Enter the value of n: 10
The value of i:  2
The value of i:  4
The value of i:  6
The value of i:  8
The value of i:  10

In [8]:
# While loop for printing numbers from 1 to n(odd numbers) and finding the sum
i=1
s=0
n=int(input("Enter the value of n: "))
while i<=n:
   print("The value of i: ",i)
   i=i+2
   s=s+i
print("The sum is: ",s)

Enter the value of n: 11
The value of i:  1
The value of i:  3
The value of i:  5
The value of i:  7
The value of i:  9
The value of i:  11
The sum is:  48

In [15]:
# For-loop; for printing the numbers from 1 to n
n=int(input("Enter the value of n: "))
for i in range(n+1):
  print("The value of i",i)
  i=i+1

Enter the value of n: 10
The value of i 0
The value of i 1
The value of i 2
The value of i 3
The value of i 4
The value of i 5
The value of i 6
The value of i 7
The value of i 8
The value of i 9
The value of i 10

In [17]:
# For-loop; for printing the numbers from 1 to n (starting form 1)
n=int(input("Enter the value of n: "))
for i in range(1,n+1,1):
  print("The value of i",i)

Enter the value of n: 10
The value of i 1
The value of i 2
The value of i 3
The value of i 4
The value of i 5
The value of i 6
The value of i 7
The value of i 8
The value of i 9
The value of i 10

In [33]:
# For-loop; for printing the numbers from 1 to n and printing the sum
n= int(input("Enter the value of n: "))
s = 0
for i in range(2, n+1, 2):
    print("The value of i:", i)
    s=s+i
print("The sum is:", s)

Enter the value of n: 10
The value of i: 2
The value of i: 4
The value of i: 6
The value of i: 8
The value of i: 10
The sum is: 30

In [35]:
# Finding the grade of a student using elif statement
math=int(input("Enter the marks scored in Mathematics = "))
phy=int(input("Enter the marks scored in Physics = "))
chem=int(input("Enter the marks scored in Chemistry = "))
sum=math+phy+chem
avg=sum/3
print("The sum of total marks = ",sum)
print("The average of total marks = ",avg)
if avg>=95:
  print("You scored A+!")
elif avg>=90:
  print("You scored A!")
elif avg>=85:
  print("You scored B+!")
elif avg>=80:
  print("You scored B!")
else:
  print("You scored F.1")

Enter the marks scored in Mathematics = 100
Enter the marks scored in Physics = 100
Enter the marks scored in Chemistry = 100
The sum of total marks =  300
The average of total marks =  100.0
You scored A+!