<a href="https://colab.research.google.com/github/dh839/AI_ML-Program/blob/main/PYTHON_FUNDAMENTAL_ASSESSMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=int(input("Enter the value of c: "))
if a>b:
  if a>c:
    print("a is the greatest value: ",a)
  elif b>c:
    print("b is the greatest value: ",b)
else:
  print("c is the greatest value: ",c)

Enter the value of a: 10
Enter the value of b: 20
Enter the value of c: 30
c is the greatest value:  30

In [11]:
m=int(input("Enter the marks scored in Mathematics: "))
p=int(input("Enter the marks scored in Physics: "))
c=int(input("Enter the marks scored in Chemistry: "))
sum=m+p+c
avg=sum/3
print("The average of total marks is: ",avg)
if avg>=90:
  print("You scored an A!")
elif avg>=75:
  print("You scored a B!")
elif avg>=50:
  print("You scored a C!")
else:
  print("You scored a F.")

Enter the marks scored in Mathematics: 95
Enter the marks scored in Physics: 90
Enter the marks scored in Chemistry: 85
The average of total marks is:  90.0
You scored an A!

In [16]:
n=int(input("Enter the value of n:"))
i=1
sum=0
while i<=n:
  print("The value of i",i)
  i=i+1
  sum=sum+i
print("The sum: ",sum)

Enter the value of n:10
The value of i 1
The value of i 2
The value of i 3
The value of i 4
The value of i 5
The value of i 6
The value of i 7
The value of i 8
The value of i 9
The value of i 10
The sum:  65

In [19]:
int_list=[3,4,6,7]

int_list.append(10)
print(int_list)

int_list.insert(2,5)
print(int_list)

int_list.remove(7)
print(int_list)

int_list.reverse()
print(int_list)

[3, 4, 6, 7, 10]
[3, 4, 5, 6, 7, 10]
[3, 4, 5, 6, 10]
[10, 6, 5, 4, 3]

In [40]:
int_tuple=(6,7,8,9,10,8,8)

lenght_tuple=len(int_tuple)
print(lenght_tuple)

int_tuple_new = int_tuple.count(8)
print(int_tuple_new)

7
3

In [38]:
set_1={1,2,3,4,5}
set_2={4,5,6,2,7}

print("UNION: ",set_1|set_2)
print("INTERSECTION: ",set_1&set_2)
set_1.difference(set_2)
print("DIFFERENCE: ",set_1)

UNION:  {1, 2, 3, 4, 5, 6, 7}
INTERSECTION:  {2, 4, 5}
DIFFERENCE:  {1, 2, 3, 4, 5}

In [44]:
d_1={"name":"A", "marks": 587}
print(d_1)
d_2={"name":"B", "marks": 566}
print(d_2)
d_1["marks"]=586
print(d_1)

{'name': 'A', 'marks': 587}
{'name': 'B', 'marks': 566}
{'name': 'A', 'marks': 586}